# configuration file for fgn-backup

# site-specific configuration: adjust this to match your needs
BACKUPLIST="/ /home /usr /var"
FTP_SERVER="ftp.example.com"
FTP_USER="ftpuser"
FTP_PASS="ftppassword"
# total space available on FTP server (in MiB)
TOTAL_FTP_SPACE=250000

# vim:filetype=sh:shiftwidth=4:expandtab:
